.root {
  background-color: #4955bb;
  padding: 0.5em 1em;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    background-color: #ffffff;
    border: 1px solid rgb(73, 85, 187);
    color: rgb(73, 85, 187);
  }
  transition: all 0.1s ease-in-out;
}
