.root {
  width: 25em;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.title {
  font-size: 1.2rem;
  font-family: roboto;
}
.exit {
  cursor: pointer;
  &:hover {
    color: #c52a2a;
    transition: color 0.1s ease-in-out;
  }
}
.main {
  font-family: roboto;
}
.footer {
  display: flex;
  justify-content: end;
  gap: 0.5em;
}
.cancelButton {
  color: white;
  border: 1px solid #c52a2a;
  background-color: #c52a2a;
  &:hover {
    border: 1px solid #c52a2a;
    background-color: #c52a2a;
  }
}
