.root {
  background-repeat: no-repeat;
  background-image: url('../../assets/bg.webp');
  background-position: 50% 50%;
  background-size: 136%;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
}
